div.graph {
	margin-top:20px;
}

div.graph div.panel-body {
	position:relative;
}

div.graph div.info {
	height:20px;
	margin-left:70px;
}

div.graph div.info span.text {
	float:right;
	text-align:right;
	padding-right:5px;
}

div.graph div.maxy {
	text-align:right;
	position:absolute;
	top:45px;
	left:20px;
}

div.graph div.bars {
	margin-left:60px;
	border:1px solid #e0e0e0;
	padding:8px;
	background-color:#ffffff;
}

div.graph table {
	width:100%;
}

div.graph table td {
	vertical-align:bottom;
	border:1px solid #ffffff;
}

div.graph table td.clickable {
	cursor:pointer;
}

div.graph table td div.week {
	background-color:#ff0000;
}

div.graph table td div.weekend {
	background-color:#c00000;
}

div.graph table td div.hour {
	background-color:#ff0000;
}

div.graph table td:hover div {
	background-color:#ffa000;
}

@media (max-width:767px) {
	div.graph div.maxy {
		display:inline-block;
		top:16px;
	}

	div.graph div.bars {
		margin-left:0;
	}
}
